:root{
    --header: font-family: 'Libre Franklin', sans-serif;
    
}

/* header */

.logo{
    width: 45px;
    height: 65px;
}

.logo-text{
    font-family: 'Libre Franklin';
}

.graphics{
    color: #99bd52;
}

.umbrella{
    color: #4b592a;
}

.nav-link{
    color: darkslategray;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: "Libre Franklin";
    font-size: 13px;
}

/* close header */

/* main */

.section1{
    background-color: #99bd52;
}

.carousel-caption{
    font-family: "Libre Franklin";
    font-size: 23px;
    text-transform: uppercase;
    margin-bottom: 55px;
}

.carousel-control-prev{

}

.sub-header{
    font-family: "Libre Franklin";
    text-transform: uppercase;
}

.elegantica{
    color: #99bd52;
}

.section2 .sub-header{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section2 .inner{
    padding-top: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 0;
    border-left: 0;
    border: 1px 0px 1px 0px solid gray;
    border-style: dotted;
    text-align: center;
}

.section2 h2{
    font-weight: 600;
    padding-top: 20px;
    font-family: "Libre Franklin";
    font-size: 27px;
    text-transform: uppercase;
}

.section2 .img-fluid{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 80px;
    border-style: dotted;
}
/* close main */

/* footer */

/* close footer */






